.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product h2 {
  margin-top: 0;
}

.product p {
  margin: 5px 0;
}